section {
    width: 70%;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px lightgray;
}
button {
    width: 150px;
    margin: auto;
}
span {
    font-weight: bold;
    margin-right: 30px;
}