.product_gallery {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product_card {
    height: 60%;
    min-height: 250px;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px lightgray;
}

.product_card_image_container {
    height: 100px;
    width: 100px;
    background-color: white;
    overflow: hidden;
}
.product_card_image_container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}