* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100.1%;
    background-color: aliceblue;
}

/*
 * All is organized inside HEADER, MAIN and FOOTER,
 * Which are aligned in column.
 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    z-index: 1;
    width: 100%;
    min-height: 50px;
    background-color: rgb(204, 231, 255);
    box-shadow: 2px 2px 2px lightgray;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
}
nav a {
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px 2px lightgray;
}
nav a:hover {
background-color: white;
position: relative;
top: 2px;
}

main {
    flex-grow: 1;
    width: 60%;
    min-width : 350px;
    max-width: 1000px;
    padding : 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.btn:hover {
background-color: grey;
color: white;
position: relative;
top: 2px;
}
