form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form > h2 {
    margin: auto;
}
form > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
input[type="submit"]:hover {
    background-color: grey;
    color: white;
    position: relative;
    top: 2px;
}